<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131125512-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-131125512-1');
</script>
<!-- comienzo de codigo footer-->
<footer class="footer">
    <div class="div-footer">

        <div class="social text-center text-white">

            <a href="https://www.instagram.com/vivevivero/?hl=es-la"><img class="m-3" src="assets/img/instagram.png"> </a>
            <a href="https://www.facebook.com/vivevivero/"><img class="m-3" src="assets/img/facebook.png"> </a>
            <a href="https://twitter.com/vivevivero_cl"><img class="m-3" src="assets/img/twitter.png"></a>
            <br>
            <h5> ¡Conocenos más!</h5>
        </div>

        <div class="logo-vive">
            <a href="http://www.vivevivero.cl/"> <img class="" src="assets/img/vive-vivero-cb.png"></a>
        </div>
        <nav>
            <div class="dvlans text-white  float-right">
                <a href="https://www.dvlans.com/"><img class="logo-dvlans" src="assets/img/dvlans.png"></a>

                <br> &copy; 2019, creado con <img class="" src="assets/img/love.png"> por <a href="https://www.dvlans.com" target="_blank">DvLans®</a>
            </div>
        </nav>
    </div>
</footer>